* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
}

html, body {
    height: 100%;
    width: 100%;
}

main{
    height:100%;
    width: 100%;
    background-color: black;
    display:grid;
    grid-template-columns: 100px minmax(100px, 400px) 100px;
    grid-template-rows: 200px 1fr;
    grid-gap: 10px;
}
.child{
    background-color:crimson;

    border: 3px solid white;
}