*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width:100%;
    background-color: BLACK;
}

#parent{
    height:400px;
    width:100%;
    background-color: gray;
    padding:30px;
    display:flex;
    gap:20px;
    flex-wrap: nowrap;
    overflow: auto;

}

#parent::-webkit-scrollbar{
    display: none;
}
.child{
    height: 100%;
    width:300px;
    background-color: white;
    border-radius: 10px;
    flex-shrink: 0;
}
.child img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 10px;
}