*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width:100%;
    background-color: BLACK;
}

#parent{
    height:100%;
    width:100%;
    background-color: black;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}
.box{
    background: linear-gradient(red, rgb(44, 29, 29));
    border: 5px solid white;
}

