
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(244, 242, 242);
}

body{
    perspective: 1000px; /* this is used to give 3D effect */
}


#box1{
    position: absolute;
    top: 50%;
    left: 40%;
    transform-style: preserve-3d; /* this is used to maintain 3D effect of child elements */
    height: 200px;
    width:200px;
    background-color: red;
    border: 15px solid ;
    border-image: linear-gradient(to right, red, green, blue) 1;
    transform : rotateX(75deg); /* in this we can rotate it in 3 axis X,Y,Z */
    scale: 4;
}