*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}

#car1{
    height:400px;
    width:400px;
    background-color:red;
    position: relative;;

}

#small{
    height:100px;
    width:100px;
    background-color:yellow;
    position: absolute;
    top:50px;
}